
@{
    ViewBag.Title = "Adding";
}
<h2>Create Data</h2>
<h4>
    <li>Create @Html.ActionLink("Products", "Create", "Products")</li>
</h4>
<h4>
    <li>Create @Html.ActionLink("Product Types", "Create", "ProductTypes")</li>
</h4>
<h4>
    <li>Create @Html.ActionLink("Company Types", "Create", "CompanyTypes")</li>
</h4>

