@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Somewhere in Georgia<br />
    Somewhere in Georgia, but more detailed<br />
    <abbr title="Phone">P:</abbr>
    5771010**
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yurigurgenidze@yahoo.com">yurigurgenidze@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yurigurgenidze@yahoo.com">yurigurgenidze@yahoo.com</a>
</address>