@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BOG Cafeteria</h1>
    <h1>@Html.ActionLink("Start Exploring!", "Index", "Companies")</h1>
    <p class="lead">Even though iTower already has a cafeteria you can order food Online!</p>
    <p><img src="https://get.chownow.com/wp-content/uploads/Food-Images.png" height="445" width="1000"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Order food!</h2>
        <p>
            Find the best meals in your city, then have them delivered to you, pick them up yourself or order straight to the table. 2,000+ restaurants in Czechia, Denmark, Estonia, Finland, Georgia, Hungary, Latvia, Lithuania, Norway and Sweden.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>“We want to make your life easier – one meal at a time.”</h2>
        <p>Craving for that halloumi pita from the place a few blocks away? Getting delivery to your office from that sweet sushi joint? Needing inspiration on where you can pick up the best fresh tacos in town?</p>
    </div>
    <div class="col-md-4">
        <h2>"Get some food, already!"</h2>
        <p>We want to make your life easier – one meal at a time. We connect restaurants with hungry customers and enable our courier partners to earn flexibly. We hire the smartest of doers and, together with them, make your city a better place.</p>
        
    </div>
</div>